@model IEnumerable<Web_ban_hang.ViewModels.Order>

@{
    ViewData["Title"] = "Ordered";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
	<h1 class="text-center text-white display-6">Cart</h1>
	<ol class="breadcrumb justify-content-center mb-0">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item"><a href="#">Pages</a></li>
		<li class="breadcrumb-item active text-white">Cart</li>
	</ol>
</div>
<!-- Single Page Header End -->
<!-- Cart Page Start -->
<div class="container-fluid py-5">
	<div class="container py-5">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Sản phẩm</th>
						<th scope="col">Tên sản phẩm</th>
						<th scope="col">Giá</th>
						<th scope="col">Số lượng</th>
						<th scope="col">Tổng tiền</th>
						<th scope="col">Ngày nhận</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<th scope="row">
								<div class="d-flex align-items-center">
									<img src="~/Hinh/HangHoa/@item.Hinh" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="@item.TenHh">
								</div>
							</th>
							<td>
								<p class="mb-0 mt-4">

									<a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHh">
										@item.TenHh
									</a>

								</p>
							</td>
							<td>
								<p class="mb-0 mt-4">@item.DonGia $</p>
							</td>
							<td>

								<div class="input-group quantity mt-4" style="width: 100px;">
									<div class="input-group-btn">
										<a asp-action="Minus" asp-controller="Cart" asp-route-id="@item.MaHh"
										   class="btn btn-sm btn-minus rounded-circle bg-light border">
											<i class="fa fa-minus"></i>
										</a>
									</div>
									<input type="text" class="form-control form-control-sm text-center border-0" value="@item.SoLuong">
									<div class="input-group-btn">
										<a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.MaHh"
										   class="btn btn-sm btn-plus rounded-circle bg-light border">
											<i class="fa fa-plus"></i>
										</a>
									</div>
								</div>
							</td>
							<td>
								<p class="mb-0 mt-4">@item.ThanhTien $</p>
							</td>
							<td>
								@item.NgayGiao;
							</td>

						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>




