@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Web_ban_hang.ViewModels.Customer>

@{
    ViewData["Title"] = "Tài khoản khách";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    int i = 1;
}

<table class="table table-hover">
    <thead>
        <tr>

            <th scope="col">#</th>
            <th scope="col" >Hình đại diện</th>
            <th scope="col">Mã khách hàng</th>
            <th scope="col">Họ tên</th>
            <th scope="col">Giới tính</th>
            <th scope="col">Điện thoại</th>
            <th scope="col">email</th>
            <th scope="col">Địa chỉ</th>
            @* <th scope="col">Ngày sinh</th> *@
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <th scope="row">@i</th>
                <td><img src="~/Hinh/KhachHang/@item.Hinh" width="50" /></td>
                <td>@item.MaKh</td>
                <td>@item.HoTen</td>

                @if (@item.GioiTinh == true)
                {
                    <td>Nam</td>
                }
                else
                {
                    <td>Nữ</td>
                }

                <td>@item.DienThoai</td>
                <td>@item.Email</td>
                <td>@item.DiaChi</td>
                @* <td>@item.NgaySinh</td> *@
                <td width="50"><a asp-action="Edit" asp-controller="Customer" asp-area="admin" asp-route-id="@item.MaKh">Sửa</a></td>
                    @if(item.HieuLuc == true)
                    {
                    <td>  <a class="btn btn-sm btn-danger" asp-action="LockAcc" asp-controller="Customer" asp-area="Admin" asp-route-id="@item.MaKh">Khóa</a></td>
                    } else
                    {
                    <td><a asp-action="LockAcc" asp-controller="Customer" asp-area="Admin" asp-route-id="@item.MaKh">Xác thực</a></td>
                        
                    }

            </tr>
            i++;
        }
    </tbody>
</table>


<div class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("Customer","Databoard", new { page }))
</div>