
@{
	Layout = "_LayoutCustomer";
}
@{
    var item = ViewBag.Loai;
}
<!-- Single Page Header start -->
@RenderSection("BreadCrum", required: false)

<!-- Single Page Header End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">HDang Shop</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        <div class="input-group w-100 mx-auto d-flex">
                            @await Html.PartialAsync("_TimKiem")
                        </div>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-xl-3">
                            <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">                      
                                <label for="fruits">Default Sorting:</label>
                           @*  <form id="fruitform" method="get" asp-action="Index" asp-controller="HangHoa" asp-route-loai="@item">
                                <input type="hidden" name="loai" value="@ViewBag.Loai" />
                            <select id="fruits" name="fruitlist" class="border-0 form-select-sm bg-light me-3" form="fruitform">
                                <option  value="0">Nothing</option>
                                <option value="1">Price</option>
                                <option value="2">Des price</option>
                                <option value="3"></option>
                            </select>
                                <input type="submit" value="Apply" class="btn btn-primary">
                            </form> *@

                            <form method="get" asp-action="Index" asp-controller="HangHoa">
                                <input type="hidden" name="loai" value="@ViewBag.Loai" />
                                <select id="fruits" name="sortList" class="border-0 form-select-sm bg-light me-3" onchange="this.form.submit()">
                                    <option value="0">Nothing</option>
                                    <option value="1">Price</option>
                                    <option value="2">Des price</option>
                                    <option value="3"></option>
                                </select>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">

                            @await Component.InvokeAsync("MenuLoai")

                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4 class="mb-2">Price</h4>
                                    <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="500" value="0" oninput="amount.value=rangeInput.value">
                                    <output id="amount" name="amount" min-velue="0" max-value="500" for="rangeInput">0</output>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4>Additional</h4>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-1" name="Categories-1" value="Beverages">
                                        <label for="Categories-1"> Organic</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-2" name="Categories-1" value="Beverages">
                                        <label for="Categories-2"> Fresh</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-3" name="Categories-1" value="Beverages">
                                        <label for="Categories-3"> Sales</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-4" name="Categories-1" value="Beverages">
                                        <label for="Categories-4"> Discount</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-5" name="Categories-1" value="Beverages">
                                        <label for="Categories-5"> Expired</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <h4 class="mb-3">Featured products</h4>
                                
                                @await  Component.InvokeAsync("ListSale")

                                <div class="d-flex justify-content-center my-4">
                                    <a href="#" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Vew More</a>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="position-relative">
                                    <img src="img/banner-fruits.jpg" class="img-fluid w-100 rounded" alt="">
                                    <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                        <h3 class="text-secondary fw-bold">Fresh <br> Fruits <br> Banner</h3>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center">

                            @RenderBody()
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* <script>
    document.getElementById('fruits').addEventListener('change', function () {
        var selectedValue = this.value;

        // Thực hiện hành động tùy thuộc vào giá trị được chọn
        if (selectedValue) {
            window.location.href = '/HangHoa/SortByPrice';
        }
    });
</script> *@
<!-- Fruits Shop End-->